#switcher{
	color:#fff;
	padding:10px;
	background:#333;
	width:78px;
	font-size:12px;
	position:fixed;
	z-index:500;
	top:200px;
	right:0;
	padding-left:20px;
}
a.custom-close,a.custom-show{
	position:absolute;
	margin-left:-50px;
	margin-top:-10px;
	display:inline-block;
	width:36px;
	height:36px;
	background:url(../img/arrow-4.png) center no-repeat #333;
}

#av-color {
	padding:0;
	margin:0;
}
#av-color li{
	list-style:none;
	display:inline-block;
	float:left;
	width:16px;
	height:16px;
	margin:0 3px 3px 0;
	background:#0C9;
}

#av-color li.bg1{background:#beac8f;}
#av-color li.bg2{background:#4891b7;}
#av-color li.bg3{background:#008a8a;}
#av-color li.bg4{background:#96C277;}
#av-color li.bg5{background:#e28242;}
#av-color li.bg6{background:#e198d8;}
#av-color li.bg7{background:#a46aa9;}
#av-color li.bg8{background:#cd2727;}

