
			<div class="body-text">
				
				<div class="container-fluid">
					
					<div class="row-fluid">
						
						<!--west pane span9-->
						<div class="span9">
							<div class="row-fluid">
								<h1>Properties of the week</h1>
							</div>
							<div class="row-fluid hotproperties">
					                <div class="span4 set-equal-heights-js">
					                	<div class="thumbnail">
											<a href="property.html"><img src="img/demo/home-page/1.jpg" alt="Placeholder" class="thumbnail" /></a>
											<div class="caption">
													<a href="property.html" class="prop-title">Property Name, Toronto ON</a>
													<p class="size">Bed: 5 • Bath: 2 • Park 2</p>
													<p class="price">$259,000</p>
													<p class="description">
														Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. 
													</p>
													<ul class="list-btns">
														<li><a href="property.html"><i class="icon-info-sign"></i>View Details</a></li>
													</ul>
											</div>
					                	</div>
					                </div>
					                <div class="set-equal-heights-js span4">
					                	<div class="thumbnail">
					                		<span class="sticker sticker-hot">Hot</span>
											<a href="property.html"><img src="img/demo/home-page/2.jpg" alt="Placeholder" class="thumbnail" /></a>
											<div class="caption">
													<a href="property.html" class="prop-title">Property Name, Toronto ON</a>
													<p class="size">Bed: 5 • Bath: 2 • Park 2</p>
													<p class="price">$259,000</p>
													<p class="description">
														Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. 
													</p>
													<ul class="list-btns">
														<li><a href="property.html"><i class="icon-info-sign"></i>View Details</a></li>
													</ul>
											</div>
					                	</div>
					                </div>
					                <div class="span4 set-equal-heights-js">
					                	<div class="thumbnail">
											<a href="property.html"><img src="img/demo/home-page/3.jpg" alt="Placeholder" class="thumbnail" /></a>
											<div class="caption">
													<a href="property.html" class="prop-title">Property Name, Toronto ON</a>
													<p class="size">Bed: 5 • Bath: 2 • Park 2</p>
													<p class="price">$259,000</p>
													<p class="description">
														Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. 
													</p>
													<ul class="list-btns">
														<li><a href="property.html"><i class="icon-info-sign"></i>View Details</a></li>
													</ul>
											</div>
					                  	</div>
					                </div>
								<div class="clearfix"></div>
								<h1>Peach Realestate Blog</h1>
								<p class="body-paragraph">
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
									Aenean massa. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
									Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
	
									Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, 
									arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
									<span class="signature">Yours truly - Mr Bootstrap <br /> Administrator / Realtor</span>
								</p>
							</div>
						</div><!--end of west pane span9-->
						
						<!--east pane with width of span3-->
						<div class="span3">	
							<!--
								"Quick Search" Widget
								
								SPECIAL NOTE: Please leave the inline style for <Select></Select> "width:100%",
											  the width is automatically "Re-adjusted" with javascript
											  See "config.js" for more details	
							-->
							<div class="qbox">
				            	<h3><i class="icon-search pull-right"></i>Quick Search</h3>
								<form>
				                	<div>
				                        <label>Property Type</label>
				                        <select data-placeholder="-- For Sale --" class="chzn-select" style="width:100%;" tabindex="0">
				                            <option value="ForSale" />For Sale
				                            <option value="ForRent" />For Rent
				                            <option value="CommercialSale" />Commercial For Sale
				                            <option value="CommercialLease" />Commercial For Lease
				                        </select>
				                    </div>
				                	<div>
				                        <label>Select Province</label>
				                        <select data-placeholder="-- Select Province --" class="chzn-select" style="width:100%;" tabindex="1">
											<option value="Ontario" />Ontario
											<option value="Quebec" />Quebec
											<option value="Nova Scotia" />Nova Scotia
											<option value="New Brunswick" />New Brunswick
											<option value="Manitoba" />Manitoba
											<option value="British Columbia" />British Columbia
											<option value="Prince Edward Island" />Prince Edward Island
											<option value="Saskatchewan" />Saskatchewan
											<option value="Alberta" />Alberta
											<option value="Newfoundland and Labrador" />Newfoundland and Labrador
				                        </select>
				                    </div>
				                    <div>
				                        <label>Select a suburb</label>
				                        <select data-placeholder="-- Available Cities --" multiple="multiple" class="chzn-select" style="width:100%;" tabindex="2">
											<option value="Guelph" />Guelph
											<option value="Haldimand" />Haldimand
											<option value="Halton Hills" />Halton Hills
											<option value="Hamilton" />Hamilton
											<option value="Hawkesbury" />Hawkesbury
											<option value="Huntsville" />Huntsville
											<option value="Ingersoll" />Ingersoll
											<option value="Innisfil" />Innisfil (Alcona-Lefroy-Gilford)
											<option value="Kawartha" />Kawartha Lakes (Lindsay)
											<option value="Kenora" />Kenora
											<option value="Kingston" />Kingston
											<option value="Kingsville" />Kingsville
											<option value="Kitchener" />Kitchener
											<option value="Lakeshore" />Lakeshore (Belle River-Tilbury)
											<option value="LaSalle" />LaSalle
											<option value="Leamington" />Leamington
											<option value="Lincoln" />Lincoln (Beamsville-Vineland)
											<option value="London" />London
											<option value="Markham" />Markham
											<option value="Midland" />Midland
											<option value="Milton" />Milton
											<option value="Mississauga" />Mississauga
											<option value="Mississippi" />Mississippi Mills (Almonte)
											<option value="Napanee" />Napanee (Greater Napanee)
											<option value="Newmarket" />Newmarket
											<option value="Tecumseth" />New Tecumseth (Alliston)
											<option value="Niagara" />Niagara Falls
											<option value="Niagara-lake" />Niagara-on-the-Lake
											<option value="Norfolk" />Norfolk (Simcoe-Port Dover)
											<option value="North-bay" />North Bay
											<option value="Oakville" />Oakville
											<option value="Orangeville" />Orangeville
											<option value="Orillia" />Orillia
											<option value="Oshawa" />Oshawa
											<option value="Ottawa" />Ottawa
											<option value="Owen" />Owen Sound
											<option value="Pelham" />Pelham
											<option value="Pembroke" />Pembroke
											<option value="Petawawa" />Petawawa
											<option value="Peterborough" />Peterborough
											<option value="Pickering" />Pickering
											<option value="Port-C" />Port Colborne
											<ption value="Prince" />Prince Edward (Picton)
                                            option value="Port-H" />Port Hope
                                            <o
                                                <option value="Quinte" />Quinte West (Trenton)
                                                <option value="Richmond" />Richmond Hill
                                                <option value="Sarnia" />Sarnia	City
                                                <option value="Saugeen" />Saugeen Shores
                                                <option value="Sault" />Sault Ste. Marie
                                                <option value="Catharines" />St. Catharines
                                                <option value="Thomas" />St. Thomas
                                                <option value="Stratford" />Stratford
                                                <option value="Tecumseh" />Tecumseh
                                                <option value="Temiskaming" />Temiskaming Shores
                                                <option value="Thorold" />Thorold
                                                <option value="Thunder" />Thunder Bay
                                                <option value="Tillsonburg" />Tillsonburg
                                                <option value="Timmins" />Timmins
                                                <option value="Toronto" />Toronto
                                                <option value="Vaughan" />Vaughan
                                                <option value="Wasaga" />Wasaga Beach
                                                <option value="Waterloo" />Waterloo
                                                <option value="Welland" />Welland
                                                <option value="Whitby" />Whitby
                                                <option value="Whitchurch" />Whitchurch-Stouffville
                                                <option value="Windsor" />Windsor
                                                <option value="Woodstock" />Woodstock
</select>
				                    </div>  
				                    <div>
				                        <p>
				                            <input type="text" id="beds" readonly="" class="disabled" />
				                        </p>
	
				                   		<div id="ui-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
				                        	<div class="ui-slider-range ui-widget-header"></div>
				                            <a class="ui-slider-handle ui-state-default ui-corner-all" href="javascript:void(0)"></a>
				                            <a class="ui-slider-handle ui-state-default ui-corner-all" href="javascript:void(0)"></a>
				                        </div>
				                    </div>
				                    <div>
				                        <p>
				                            <input type="text" id="amount" readonly="" class="disabled" style="margin-top:10px;" />
				                        </p>
				                    
				                   		<div id="ui-slider-price" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
				                        	<div class="ui-slider-range ui-widget-header"></div>
				                            <a class="ui-slider-handle ui-state-default ui-corner-all" href="javascript:void(0)"></a>
				                            <a class="ui-slider-handle ui-state-default ui-corner-all" href="javascript:void(0)"></a>
				                        </div>
				                    </div>
				                    <button class="btn btn-inverse btn-small">Search</button>
				                </form>
				            </div>
				            
				            <!-- Start Zone Alert -->
				        	<div class="qbox">
				            	<h3><i class="icon-eye-open pull-right"></i>Zone Alert</h3>
				            	<div>
				            		<p>Register your criteria and Property Alert will let you know when properties are listed.</p>
				                    <a data-toggle="modal" href="#myModal" class="btn btn-small">Register</a>
				            	</div>

				         </div><!-- end Zone Alert -->
	
						</div><!--end of span3-->
						
					</div>
					
				</div>
				
			</div>
	