<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>	
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<appSettings>
		<add key="merchant_code" value="5413371"/>
		<add key="terminal_code" value="756279744"/>
		<!--<add key="redirect_address" value="http://46.209.7.98/Login.aspx"/>-->
    <add key="redirect_address" value="http://localhost:4769/PaypaadSample/purchase.aspx"/>
		<add key="referrer_address" value="http://www.example.com/cart.php?error=bank"/>
		<add key="delivery_days" value="5"/>
		<add key="key_file" value="~/App_Data/key.xml"/>
		<add key="payment_trace_url" value="https://paypaad.bankpasargad.com/PaymentTrace"/>
	</appSettings>
</configuration>
