body {

}

@font-face {
    font-family: 'myfont_nastaliq';
    src: url("../assets/fonts/IranNastaliq.ttf") format('truetype');
    
    /*font-size:40px;*/
    /*font-style:normal;*/
}

@font-face{
    font-family: 'myfont_mjfaraz';
    src: url("../assets/fonts/mj_faraz.ttf") format('truetype');
    font-weight: 200;
    font-style: normal;
}
