@font-face {
 font-family: 'barcode2';
 /*src: url('../fonts/CarolinaBar-25D1-Normal.TTF'); /* IE */
 src: url('../fonts/3OF9_NEW.TTF') format('truetype'); /* non-IE */
}

.navbar .container-fluid.main-nav {
    height: auto;
}

    .navbar .container-fluid.main-nav .nav-collapse {
        width: 100%;
    }

        .navbar .container-fluid.main-nav .nav-collapse .nav {
            text-align: center;
            width: 100%;
            height: 100%;
            margin: 0;
        }

            .navbar .container-fluid.main-nav .nav-collapse .nav > li {
                float: none;
                display: inline-block;
                text-align: center;
                margin: 0 8px;
            }

                .navbar .container-fluid.main-nav .nav > li > a {
                    display: block;
                    height: 100%;
                    text-align: center;
                    padding: 10px 15px 9px;
                    font-size: 12px;
                    font-weight: 400;
                    color: #999999;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    transition: all 0.3s;
                    
                }

                    .navbar .container-fluid.main-nav  .nav > li > a span {
                        background: url(../assets/images/nav-sprite.png) no-repeat top left;
                        display: block;
                        width: 28px;
                        height: 28px;
                        margin: 0 auto 2px;
                    }

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .navbar .container-fluid.main-nav .nav-collapse .nav > li > a span {
        background-image: url(../assets/images/nav-sprite_402x.png);
        background-size: 168px 168px;
    }
}

.navbar .container-fluid.main-nav .nav-collapse .nav > li > a .caret {
    margin-left: -6px;
    margin-right: 6px;
    border-top-color: #999999;
}

/*.navbar .container-fluid.main-nav .nav-collapse .nav > li > a.current {
    color: #007aff;
}*/

.navbar .container-fluid.main-nav  .nav > li > a.current {
    color: #007aff;
}

    .navbar .container-fluid.main-nav  .nav > li > a.current span {
        background-position: left -28px;
    }

    .navbar .container-fluid.main-nav  .nav > li > a.current .caret {
        border-top-color: #007aff;
    }

.navbar .container-fluid.main-nav  .nav > li > a:hover {
    background: #eeeeee;
    background: rgba(0, 0, 0, 0.04);
}

.navbar .container-fluid.main-nav  .nav > li .dropdown-menu {
    text-align: left;
}

.navbar .container-fluid.main-nav  .nav > li.ui a span {
    background-position: -28px top;
}

.navbar .container-fluid.main-nav  .nav > li.ui a.current span {
    background-position: -28px -28px;
}

.navbar .container-fluid.main-nav  .nav > li.forms a span {
    background-position: -56px top;
}

.navbar .container-fluid.main-nav  .nav > li.forms a.current span {
    background-position: -56px -28px;
}

.navbar .container-fluid.main-nav  .nav > li.charts a span {
    background-position: -84px top;
}

.navbar .container-fluid.main-nav  .nav > li.charts a.current span {
    background-position: -84px -28px;
}

.navbar .container-fluid.main-nav  .nav > li.tables a span {
    background-position: -112px top;
}

.navbar .container-fluid.main-nav  .nav > li.tables a.current span {
    background-position: -112px -28px;
}

.navbar .container-fluid.main-nav  .nav > li.gallery a span {
    background-position: -140px top;
}
/*.navbar .container-fluid.main-nav  .nav > li.gallery a span {
    background: url(../assets/images/search22.png) no-repeat top left;
    background-size:contain;
}*/

.navbar .container-fluid.main-nav  .nav > li.gallery a.current span {
    background-position: -140px -28px;
}


