<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="ShakelliDWEntities" connectionString="metadata=res://*/Models.ShakelliDWModel.csdl|res://*/Models.ShakelliDWModel.ssdl|res://*/Models.ShakelliDWModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.20.148.221;initial catalog=ShakelliDW;persist security info=True;user id=ShakelliDwOwner;password=ha_yakhchal;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="DefaultConnection" connectionString="metadata=res://*/Models.ShakelliDWModel.csdl|res://*/Models.ShakelliDWModel.ssdl|res://*/Models.ShakelliDWModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.20.148.221;initial catalog=ShakelliDW;persist security info=True;user id=ShakelliDwOwner;password=ha_yakhchal;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="TigerDbEntities" connectionString="provider=System.Data.SqlClient;provider connection string=data source=172.20.148.221;initial catalog=Tiger_GL;persist security info=True;user id=ShakelliDwOwner;password=ha_yakhchal;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <!-- Required by Microsoft ReportViewer control -->
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="MvcReportViewer.AspxViewer" value="/MvcReportViewer.aspx"/>
    <add key="MvcReportViewer.ReportServerUrl" value="http://172.20.4.2/ReportServer"/>
    <!--<add key="MvcReportViewer.ReportServerUrl" value="http://localhost/ReportServer" />-->
    <!--<add key="MvcReportViewer.Username" value="pooyeshdbtest\ssrs" />-->
    <add key="MvcReportViewer.Username" value="ssrs"/>
    <add key="MvcReportViewer.Password" value="hx_9822100"/>
    <add key="MvcReportViewer.ReportBuilderUrl" value="http://172.20.4.2/ReportServer/ReportBuilder/ReportBuilder_3_0_0_0.application"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <authentication mode="None"/>
    <!--<sessionState mode="InProc" timeout="30" />-->
    <compilation debug="true" targetFramework="4.8">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.1" maxUrlLength="10999" maxQueryStringLength="2097151"/>
    <pages>
      <namespaces>
        <add namespace="Kendo.Mvc.UI"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <!-- Required by Microsoft ReportViewer control -->
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="2097151" maxQueryString="2097151"/>
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthenticationModule"/>
    </modules>
    <handlers>
      <!-- Required by Microsoft ReportViewer control -->
      <remove name="ReportViewerWebControlHandler"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>