<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RWAS.WinUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="RWAS.WinUI.Properties.Settings.DB_RWASConnectionString"
      connectionString="Data Source=172.23.29.142;Initial Catalog=DB_RWAS;Persist Security Info=True;User ID=savanehowner"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <RWAS.WinUI.Properties.Settings>
      <setting name="ServerName" serializeAs="String">
        <value>hadi-vaio</value>
      </setting>
      <setting name="ClientName" serializeAs="String">
        <value>superstation</value>
      </setting>
      <setting name="ConnectionType" serializeAs="String">
        <value>sql</value>
      </setting>
      <setting name="ReportPath" serializeAs="String">
        <value>http://172.23.27.140/generalwebreport/main.aspx</value>
      </setting>
      <setting name="ReportServer" serializeAs="String">
        <value>hadi-vaio</value>
      </setting>
      <setting name="ReportServerPort" serializeAs="String">
        <value>85</value>
      </setting>
      <setting name="KARNAMEH" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value>DB_RWAS</value>
      </setting>
      <setting name="CommandTimeout" serializeAs="String">
        <value>300</value>
      </setting>
    </RWAS.WinUI.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
