<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" android:versionCode="2" android:versionName="mono_version">
  <uses-sdk android:targetSdkVersion="10" />
  <application android:label="Tosanroid" android:icon="@drawable/tidm3">
  </application>
</manifest>