<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GeneralTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Test1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
	  <connectionStrings>
    <add name="Total85Connection" connectionString="Data Source=Emdad-Saypa4;Initial Catalog=total85;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="WebsaleConnection" connectionString="Data Source=192.168.0.48;Initial Catalog=web_sale;Uid=dts;password=sarzamineabi" providerName="System.Data.SqlClient" />
	<add name="EmdadSaipa3_Report" connectionString="Data Source=Emdad-Saypa3;Initial Catalog=Report;Uid=dts;password=sarzamineabi" providerName="System.Data.SqlClient" />
	<add name="LookupContext" connectionString="Data Source=192.168.0.48;Initial Catalog=web_sale;Uid=dts;password=sarzamineabi" providerName="System.Data.SqlClient" />
  </connectionStrings>
	
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEcommerceService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://46.32.24.36:7003/EcommerceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEcommerceService"
                contract="EcommerceService.IEcommerceService" name="BasicHttpBinding_IEcommerceService" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <GeneralTest.Properties.Settings>
            <setting name="GeneralTest_EcommerceService2_EcommerceService"
                serializeAs="String">
                <value>http://46.32.24.36:7003/EmdadMainServices.EcommerceService.svc</value>
            </setting>
            <setting name="GeneralTest_GuaranteeService_GuaranteeService"
                serializeAs="String">
                <value>http://ecm:7003/EmdadMainServices.GuaranteeService.svc</value>
            </setting>
            <setting name="GeneralTest_bankpasargad2_BankPasargadService"
                serializeAs="String">
                <value>http://ecm:7003/EmdadMainServices.BankPasargadService.svc</value>
            </setting>
            <setting name="GeneralTest_RahyabService_Send" serializeAs="String">
                <value>http://192.168.0.23/post/send.asmx</value>
            </setting>
        </GeneralTest.Properties.Settings>
        <Test1.Properties.Settings>
            <setting name="Test1_WebReference1_request" serializeAs="String">
                <value>http://91.99.102.70/emdad/services/create/emdad-response.php</value>
            </setting>
            <setting name="Test1_saipayadak_mainservice" serializeAs="String">
                <value>http://sp.saipayadak.org/sy_webservice/mainservice.asmx</value>
            </setting>
            <setting name="Test1_Ecm_EmdadEcommerceServices_EcmService_EcmService" serializeAs="String">
                <value>http://ecm.emdadsaipa.local:7004/EmdadEcommerceServices.EcmService.svc</value>
            </setting>
        </Test1.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
